@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-color-dark: #ffa005;
$primary-color: #ffc107;
$primary-color-r: 255;
$primary-color-g: 193;
$primary-color-b: 7;

$secondary-color: #888;
$vertical-margin-px: 5px;
$vertical-padding-px: 5px;
$horizontal-padding-px: 5px;
$default-border-radius: 4px;
$list-title-text-colour: #000;
$list-heading-height: 43px;
$heading-fonts: 'Roboto', sans-serif;
$sub-heading-fonts: 'Roboto', sans-serif;
$paragraph-fonts: 'Roboto', sans-serif;

.heading {
  color: $primary-color;
  font-family: $heading-fonts;
}

form {
  .form-control:focus {
    border-color: $primary-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($primary-color-r, $primary-color-g, $primary-color-b, 0.6);
  }

  .form-icon {
    height: 0.8em;
  }

  a::after {
    text-decoration: none;
  }
}
.sub-heading {
  color: $secondary-color;
  font-family: $sub-heading-fonts;
}

.journal-entry-form-inner {
  margin-top: $vertical-margin-px;
  margin-bottom: $vertical-margin-px;
  padding-top: $vertical-padding-px;
  padding-bottom: $vertical-padding-px;

  .row {
    margin-top: $vertical-margin-px;
    margin-bottom: $vertical-margin-px;
  }

  .entry-textarea {
    width: 100%;
  }

  .entry-submit {
    float: right;
  }
}

.journal-entries {

  .journal-entry {
    margin-top: $vertical-margin-px;
    margin-bottom: $vertical-margin-px;

    .entry-title {
      margin: 0;
    }

    .entry-created {
      line-height: $list-heading-height - $vertical-padding-px * 2;
      font-size: 20px;
    }
  }

  .entry-images {
    .entry-image img{
      width: 100%;
    }
  }
}


nav.navbar-household {
  a {
    color: $primary-color;
  }

  .navbar-toggle {
    span {
      background-color: $primary-color;
    }
  }
}