<div class="journal-entry-form-inner">
    <form (ngSubmit)="onSubmit();resetForm()" #journalEntryForm="ngForm">

        <div class="form-group">
            <household-tagged-user-list (onDeleteTaggedUser)="onDeleteTaggedUser($event)" [canDelete]="canDeleteTaggedUsers" [taggedUsers]="model.taggedUsers"></household-tagged-user-list>
            <div class="tag-user row">
                <household-user-typeahead class="col-9" [users]="unTaggedHouseholdUsers" (onUserSelected)="onUserSelected($event)"></household-user-typeahead>
                <div ngbDropdown [autoClose]="false" class="col-3">
                    <input type="button" class="btn btn-secondary" id="tagUserDropdown" ngbDropdownToggle value="Select &#x25BE;"/>
                    <div class="dropdown-menu" aria-labelledby="tagUserDropdown">
                        <input type="button" (click)="onUserSelected(user)" *ngFor="let user of unTaggedHouseholdUsers" value="{{ user }}" class="dropdown-item"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="title" [(ngModel)]="model.title" placeholder="Entry title" required/>
        </div>

        <div class="form-group">
            <textarea class="entry-textarea form-control" name="content" [(ngModel)]="model.content" placeholder="Write your journal entry" required></textarea>
        </div>

        <div class="form-group">
            <label class="image-uploads">
                <a><span><img class="form-icon" src="images/glyphicons-12-camera@3x.png"/></span> Upload Images</a>
                <input #imageInput type="file" accept="image/*" name="images" class="form-control" [(ngModel)]="fileInputContent" (change)="onImageSelectChange($event, input)" value="Add Photos" multiple hidden/>
            </label>

            <journal-entry-form-images (onDelete)="onDeleteSelectedImage($event);" [entryFormImages]="model.entryFormImages"></journal-entry-form-images>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary entry-submit" >Submit</button>
        </div>
    </form>
</div>