<nav class="navbar bg-inverse navbar-inverse navbar-toggleable-md">
    <a class="navbar-brand align-left" routerLink="/dashboard">{{ title }}</a>

    <button type="button" [attr.aria-expanded]="!isCollapsed" data-target="#collapsableNavbar" data-toggle="collapse" aria-controls="collapsable-navbar" class="navbar-toggler navbar-toggler-right btn">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="collapsableNavbar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item"><a class="nav-link" [routerLink]='["/journal", 0]' [routerLinkActive]="['is-active']">Journal</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/messages" [routerLinkActive]="['is-active']">Messages</a></li>
        </ul>
    </div>

    <button class="btn btn-outline-secondary">
        <h6 class="m-0">{{ currentHousehold.name }} &#x25BE;</h6>
        <p class="m-0 text-muted">{{ currentUser }}</p>
    </button>
</nav>
